name: Auto Build and Deploy Backend

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Read current version
        id: read_version
        run: |
          VERSION=$(cat version.txt)
          echo "current=$VERSION" >> $GITHUB_OUTPUT

      - name: Calculate next patch version
        id: new_version
        run: |
          OLD=${{ steps.read_version.outputs.current }}
          IFS='.' read -r MA MI PA <<< "$OLD"

          PA=$((PA+1))
          NEW="$MA.$MI.$PA"

          echo "new=$NEW" >> $GITHUB_OUTPUT
          echo "$NEW" > version.txt

      - name: Commit & Tag new version
        run: |
          NEW=${{ steps.new_version.outputs.new }}

          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"

          git add version.txt
          git commit -m "chore: bump version to $NEW"
          git tag "v$NEW"
          git push origin main --tags

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io \
            -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

      - name: Build & Push Docker Image
        run: |
          NEW=${{ steps.new_version.outputs.new }}
          docker build -t ghcr.io/kressin-labs/inventory-backend:$NEW .
          docker push ghcr.io/kressin-labs/inventory-backend:$NEW

      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            VERSION=${{ steps.new_version.outputs.new }}

            cd /opt/inventory_backend

            # Update .env version
            sed -i "s/^BACKEND_VERSION=.*/BACKEND_VERSION=$VERSION/" .env


            docker compose pull inventory-backend

            # Restart only backend
            docker compose stop inventory-backend
            docker compose rm -f inventory-backend
            docker compose up -d inventory-backend

            # Cleanup
            docker image prune -af --filter "until=24h"
            docker compose up -d --remove-orphans
